@model Geodeta.Data.Area

@{
    ViewBag.Title = "Edycja obszaru";
}

<h2 style="margin-bottom: 2%">Edycja obszaru</h2>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc4Jj-6nM0rC1hnfwNSYoZaCXm0EVK0EY">
    </script>
<script type="text/javascript" src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>

<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Obszar</legend>

        <div class="container">
            <label>
                Nazwa
            </label>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div id="map_canvas" style="height: 600px; margin-top: 3%"></div>

        @Html.HiddenFor(model => model.ID)


        @Html.Partial("InfoButtons")
        <p>
            <button type="button" class="btn btn-default btn-circle btn-xl " value="Save" onclick="onFormSubmit()" style="margin-right: 5px; margin-top: 10px; margin-bottom: 5%; float: right"><i class="glyphicon glyphicon-ok"></i></button>

            <button type="button" class="btn btn-default btn-circle btn-xl " style="margin-top:10px;margin-bottom:5%; float:left" onclick="location.href='@Url.Action("Index", "Obszar")';return false;"><i class="glyphicon glyphicon-arrow-left"></i></button>

        </p>
    </fieldset>
    
    //Modal edit window
    @Html.Partial("ModalWindowEditNotePoint")
    @Html.Partial("ModalWindowAddNotePoint")
    @Html.Partial("ModalWindowEditNoteLine")
    @Html.Partial("ModalWindowAddNoteLine")
    @Html.Partial("Alert")
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/editview")
    <section class="scripts">

        <script type="text/javascript">

            $(document).ready(function () {
                Initialize();
            });
            var poly, map;
            var markers = [];
            var notes = [];
            var diagonal = [];
            var noteid = [];
            var lines = [];
            var press = false;
            var noteid, titlenote, textnote;
            var editnote = false;
            var noteTitleLine = [];
            var noteContentLine = [];
            var noteTitlePoint = [];
            var noteContentPoint = [];
            var existline = false;
            var linesremove = false;
            var path = new google.maps.MVCArray;
            var id2 = document.getElementById('ID').value;
            var infowindow;
            var contentString =
                        '<button type="button" class="btn btn-default btn-circle" style="margin-left:5px;margin-top:5px;margin-bottom:5px;margin-right:5px"><i class="glyphicon glyphicon-plus"></i></button>' +
                        '<button type="button" class="btn btn-default btn-circle" style="margin-top:5px;margin-bottom:5px;margin-right:5px"><i class="glyphicon glyphicon-edit"></i></button>' +
                        '<button type="button" class="btn btn-default btn-circle" style="margin-top:5px;margin-bottom:5px;margin-right:5px"><i class="glyphicon glyphicon-remove"></i></button>';

            function onFormSubmit() {
                if (markers.length > 1) {
                    $.ajax({
                        url: '/Obszar/Edit',
                        type: 'POST',
                        data: $("#form").serialize(),
                        success: function (response) {
                            if (response.Success) {

                                window.location.href = '@Url.Action("Index", "Obszar")'
                            RemoveListOfPoints(id2);
                            createPoint(id2);

                        }
                    }
                });

            }
            else {
                    jQuery.noConflict();
                    $('#Alert').modal('show');
            }
        }

        </script>
    </section>
}
